@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

code {
  /* highlight with orange background and round background*/
  background-color: #ebdbbc;
  border-radius: 0.25rem;
  padding: 0.125rem;
  font-size: 0.875rem;
}

:root {
  --background: #FAF7EF;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--source-serif-font), Georgia, serif;
}

/* Elements marked with serif class or font-serif will use Source Serif */
.font-serif,
.serif {
  font-family: var(--font-noto-serif),ui-serif, var(--font-pt-serif), Georgia,
    serif;
}

/* Elements marked with sans or font-sans will use Geist */
.font-sans,
.sans {
  font-family: var(--font-geist-sans), system-ui, sans-serif;
}
